/test/browser/transcripts/actual
/test/marion/resources/unpacked/_compiled
/test/browser/fixtures/resources/_compiled
/.nrepl-port
/resources/unpacked/devtools/front_end/dirac/_compiled
/resources/unpacked/devtools/CSSProperties.in
/.lein-env
.lein*
.dev-chrome-profile
/resources/unpacked/_compiled
/resources/release.crx
/resources/release.pem
/resources/release/_compiled
/resources/release/devtools
/releases
/.idea
/target
/checkouts*
/.tmp
.profiles/
pom.xml*
/test/chromedriver
/out/
.notify/
.figwheel*