/test/browser/transcripts/_actual_
/test/marion/resources/unpacked/.compiled
/test/browser/fixtures/resources/.compiled
/.nrepl-port
/resources/unpacked/devtools/front_end/dirac/.compiled
/resources/unpacked/devtools/CSSProperties.in
/.lein-env
.lein*
.dev-chrome-profile
/resources/unpacked/.compiled
/resources/release.crx
/resources/release.pem
/resources/release/.compiled
/resources/release/devtools
/releases
/.idea
/target
/checkouts*
/.tmp
.profiles/
pom.xml*
/test/chromedriver
/out/
.notify/
.figwheel*
resources/release/background.js
resources/release/options.js
npm-debug.log
/resources/unpacked/devtools/front_end/protocol_externs.js
chrome-linux/
snapshot.zip
chromium-latest-linux/
!/.lein-fast-trampoline
