/resources/unpacked/devtools/front_end/_cljs
/.lein-env
.lein*
/resources/unpacked/compiled
/resources/release.crx
/resources/release.pem
/resources/release/compiled
/releases
/.idea
/target
/checkouts
/.tmp
.figwheel_server.log