.dialog {
    position: absolute;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgb(140, 140, 140) 0 2px 3px;
    display: flex;
    -webkit-flex-direction: column;
}

.dialog-contents {
    width: 100%;
}

.go-to-line-dialog {
    font-size: 11px;
    font-family: 'Lucida Grande', sans-serif;
}

.go-to-line-dialog input {
    font-size: 11px;
}

.go-to-line-dialog button {
    font-size: 11px;
    color: rgb(6, 6, 6);
    border: 1px solid rgb(165, 165, 165);
    background-color: rgb(237, 237, 237);
    background-image: linear-gradient(to bottom, rgb(252, 252, 252), rgb(223, 223, 223));
    border-radius: 12px;
    -webkit-appearance: none;

    padding: 3px 20px;
    margin: 0 0 0 10px;
}

.go-to-line-dialog button:active {
    background-color: rgb(215, 215, 215);
    background-image: linear-gradient(to bottom, rgb(194, 194, 194), rgb(239, 239, 239));
}

