/*
 * Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.documentation-code {
    border: 1px dotted black;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}

.documentation-section-title {
    font-size: 120%;
    padding-bottom: 4px;
    font-weight: bold;
}

.documentation-link {
    margin-left: 0.5em;
}

.documentation-highlighted-text {
    font-weight: bold;
}

.documentation-parameter {
    margin-left: 5px;
}

.documentation-section {
    margin-bottom: 15px;
}

.documentation-code-tag {
    font-weight: bold;
}

.documentation-parameter-optional {
    background-color: rgb(219, 234, 249);
}

.documentation-parameter-data-type-value {
    background-color: rgb(254, 254, 202);
}

.documentation-parameter-name {
    font-size: 120%;
    font-style: italic;
}

.documentation-page-title {
    font-size: 160%;
    font-weight: bold;
    padding-bottom: 7px;
}

.documentation-view {
    -webkit-user-select: text;
    padding: 10px;
}

.documentation-example-description-section {
    margin-bottom: 10px;
}

.documentation-example-link {
    float: right;
}

.documentation-box {
    padding: 6px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
}