.help-window-outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

.help-window-main {
    max-height: 100%;
    color: white;
    background-color: rgba(17, 17, 17, 0.85);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    border-top-width: 0;
    border-radius: 10px;
}

.help-window-caption {
    border-bottom: solid 1px rgb(153, 153, 153);
    margin: 0 8px;
    padding: 0 2px;
    line-height: 28px;
}

.help-window-title {
    font-size: 16px;
    margin: 0;
    padding-top: 1px;
    margin-bottom: -1px;
}

.help-content {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 11px;
    margin: 8px;
    padding: 0 4px;
    font-size: 13px;
}

.help-window-main ::-webkit-scrollbar {
    width: 11px;
}

.help-window-main ::-webkit-scrollbar-corner,
.help-window-main ::-webkit-resizer {
    display: none;
}

.help-window-main ::-webkit-scrollbar-thumb:vertical {
    background: -webkit-gradient(linear, left top, right top, from(rgb(128, 128, 128)), to(rgb(128, 128, 128)), color-stop(40%, rgb(96, 96, 96)));
    border-radius: 5px;
    min-height: 20px;
}

.help-window-main ::-webkit-scrollbar-thumb:vertical:hover,
.help-window-main ::-webkit-scrollbar-thumb:vertical:active {
    background: -webkit-gradient(linear, left top, right top, from(rgb(176, 176, 176)), to(rgb(176, 176, 176)), color-stop(40%, rgb(144, 144, 144)));
}

.help-window-main ::-webkit-scrollbar-track:vertical {
    background: -webkit-gradient(linear, left top, right top, from(rgb(10, 10, 10)), to(rgb(32, 32, 32)), color-stop(25%, rgb(32, 32, 32)));
    border-radius: 5px;
}

.help-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
}

body.dock-to-bottom .help-content {
    margin-bottom: 8px;
}

body.platform-mac .help-window-main .tabbed-pane-header-contents {
    margin-left: 27px;
}

body.platform-mac .help-window-main .help-window-title {
    margin-left: 18px;
}

.help-container {
    width: 100%;
    -webkit-user-select: auto;
    -webkit-column-width: 470px;
}

body.platform-mac .settings-tab.help-container {
    -webkit-column-width: 430px;
}

body.platform-mac .help-container {
    -webkit-column-width: 330px;
}

.help-block {
    display: block;
    padding-bottom: 9px;
    width: 470px;
    -webkit-column-break-inside: avoid;
}

body.platform-mac .settings-tab .help-block {
    width: 430px;
}

#drawer-contents .settings-tab {
    padding-left: 12px;
}

.settings-tab.help-container {
    -webkit-column-width: 410px;
}

.settings-tab .help-block {
    width: 410px;
}

.help-line {
    padding-bottom: 3px;
}

.help-key-cell {
    display: inline-block;
    width: 270px;
    text-align: right;
}

body.platform-mac .help-key-cell {
    width: 120px;
}

.help-cell {
    display: inline;
}

.help-section-title {
    font-weight: bold;
}

.help-key {
    font-weight: bold;
}

body.platform-mac .help-key {
    font-family: Lucida Grande, sans-serif;
}

.help-combine-keys,
.help-key-delimiter {
    font-size: 9px;
}

.help-combine-keys {
    margin: 0 0.3em;
}

.help-key-delimiter {
    margin: 0 0.5em;
}

.help-content p {
    margin: 3px 0;
}

.help-content fieldset {
    border: none;
    margin-left: 7px;
}

#general-tab-content .help-content fieldset legend {
    font-size: 14px;
}

body.platform-mac .settings-tab.help-content fieldset {
    margin-left: 10px;
}

.help-content fieldset p {
    border-left: 1px solid rgb(128,128,128);
    margin: 0 0 0 6px;
    padding-left: 3px;
}

.help-content fieldset label {
    padding-right: 4px;
}

.help-content p.help-section {
    margin: 0 0 15px 0;
}

.settings-experiments-warning-subsection-warning {
    color: rgb(200, 0, 0);
}

.settings-experiments-warning-subsection-message {
    color: inherit;
}

#resolution-override-section {
    margin-left: 13px;
}

.help-content input[type=checkbox] {
    height: 13px;
    width: 13px;
    margin: 0 7px 0 0;
    vertical-align: -2px;
}

body.platform-mac .help-content input[type=checkbox] {
    vertical-align: -1px;
}

.help-content input[type=radio] {
    vertical-align: -2px;
}

body.platform-mac .help-content input[type=radio] {
    vertical-align: -1px;
}

.help-content select {
    background-color: rgb(64, 64, 64);
    color: white;
    border-color: black;
    padding: 0 4px;
}

.help-content select:disabled {
    background-color: rgb(32, 32, 32);
    color: graytext;
}

.help-content option {
    background-color: #EEEEEE;
    color: #222;
}

#settings-screen .help-window-main,
#drawer-contents .help-window-main {
    color: rgb(48, 57, 66);
    background-color: white;
    border-radius: 0;
}

#settings-screen .help-window-main {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    height: initial;
    padding: 21px 0 0 21px;
    box-shadow: 1px 1px 5px 2px rgba(128, 128, 128, 0.7);
}

#settings-screen .help-window-label {
    font-size: 18px;
    color: inherit;
    padding-top: 1px;
}

#drawer-contents .help-container-wrapper {
    top: 32px;
}

.help-container-wrapper {
    position: absolute;
    top: 60px;
    left: 15px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#settings-screen .tabbed-pane-header {
    border: none transparent;
    height: auto;
    width: 110px;
    position: relative;
    top: 14px;
}

#settings-screen .tabbed-pane-header-contents {
    margin: 0;
}

#settings-screen .tabbed-pane-header-tabs {
    padding-top: 5px;
    width: 100px;
}

#settings-screen .tabbed-pane-header-tab {
    background-color: transparent;
    border: none transparent;
    cursor: pointer;
    font-weight: normal;
    text-shadow: none;
    color: #999999;
    height: 22px;
    font-size: 13px;
    padding-left: 0;
}

#settings-screen .tabbed-pane-header-tab.selected {
    color: inherit;
}

#settings-screen .tabbed-pane-content,
#drawer-contents .tabbed-pane-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 8px;
}

#drawer-contents .tabbed-pane-content {
    padding: 0 4px;
}

#settings-screen .tabbed-pane-content {
    left: 120px;
}

#drawer-contents .tabbed-pane-content {
    left: 0;
}

.settings-tab.help-content {
    margin: 0;
    padding: 0;
}

.settings-tab input:not([type]),
.settings-tab input[type="text"] {
    border: 1px solid rgb(213, 213, 213);
    border-radius: 2px;
    color: #444444;
    font: inherit;
    padding: 3px;
}

.settings-tab input.numeric {
    text-align: right;
}

.settings-tab-container header {
    padding: 14px 0;
    border-bottom: 1px solid #EEEEEE;
}

#drawer-contents .settings-tab-container header {
    padding: 0;
}

#tab-shortcuts {
    margin-top: 25px !important;
}

#experiments-tab-content .help-container {
    -webkit-column-width: 470px;
}

#experiments-tab-content .help-block {
    width: 470px;
}

.settings-tab-container header > h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 3px;
}

.settings-tab .help-section-title {
    color: #222;
}

.settings-tab .help-block label {
    font-size: 14px;
}

.settings-tab .help-block fieldset:not(.toplevel) label {
    font-size: 13px;
}

.settings-tab .help-block fieldset:disabled label:hover,
.settings-tab .help-block fieldset.toplevel label:hover {
    color: inherit;
}

.settings-tab .help-block label:hover {
    color: #222;
}

.settings-tab p {
    margin: 10px 0;
}

.settings-tab fieldset p {
    border-left: none transparent;
    padding: 2px 0 2px 3px;
}

.settings-tab select {
    background-color: #FAFAFA;
    border-color: rgb(213, 213, 213);
    border-radius: 2px;
    color: inherit;
    padding: 0 4px;
}

.settings-tab select:disabled {
    background-color: rgb(221, 221, 221);
}

.settings-tab .workspace-settings-row input {
    width: 190px;
}

.settings-tab .file-mappings-list .workspace-settings-row input.file-mapping-url {
    margin-right: 3px;
}

#workspace-tab-content .button:hover {
    opacity: 1.0 !important;
}

#workspace-tab-content .workspace-settings-row:hover .button {
    visibility: visible;
    opacity: 0.4;
}

#workspace-tab-content .workspace-settings-row .button {
    width: 10px;
    height: 10px;
    border: none;
    -webkit-appearance: none;
    background-color: transparent;
    visibility: hidden;
    background-position: center;
    margin: 0 0 0 4px;
}

#workspace-tab-content .workspace-settings-row .remove-button {
    background-image: url(Images/deleteIcon.png);
}

#workspace-tab-content .workspace-settings-row .add-button {
    background-image: url(Images/addIcon.png);
}

#workspace-tab-content .workspace-settings-error {
    color: red;
}

.tethering-help-info {
    padding-bottom: 5px;
}

.tethering-help-title-left {
    padding-top: 20px;
    display: inline-block;
    width: 100px;
}


.tethering-help-title-right {
    padding-top: 20px;
    display: inline-block;
}

.settings-tab .workspace-settings-row input.tethering-port-input {
    width: 80px;
    margin-right: 20px;
}

.settings-tab .text-button {
    background-image: -webkit-linear-gradient(hsl(0, 0%, 93%), hsl(0, 0%, 93%) 38%, hsl(0, 0%, 87%));
    border: 1px solid hsla(0, 0%, 0%, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.08), inset 0 1px 2px hsla(0, 100%, 100%, 0.75);
    color: hsl(0, 0%, 27%);
    font-size: 12px;
    margin: 0 1px 0 0;
    text-shadow: 0 1px 0 hsl(0, 0%, 94%);
    min-height: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

.settings-tab .text-button:hover {
    background-image: -webkit-linear-gradient(hsl(0, 0%, 94%), hsl(0, 0%, 94%) 38%, hsl(0, 0%, 88%));
    border-color: hsla(0, 0%, 0%, 0.3);
    box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.12), inset 0 1px 2px hsla(0, 100%, 100%, 0.95);
    color: hsl(0, 0%, 0%);
}

.settings-tab .text-button:active {
    background-image: -webkit-linear-gradient(hsl(0, 0%, 91%), hsl(0, 0%, 91%) 38%, hsl(0, 0%, 84%));
    box-shadow: none;
    text-shadow: none;
}

.settings-tab .settings-list-container {
    margin-bottom: 5px;
}

.settings-tab .settings-list {
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 2px;
}

#workspace-tab-content .settings-list .settings-list-item .settings-list-item-contents {
    width: 100%;
    height: 40px;
    -webkit-box-align: center;
    -webkit-transition: 150ms background-color;
    display: -webkit-box;
    padding-right: 3px;
}

#workspace-tab-content .settings-list .settings-list-item .settings-list-item-contents > :first-child {
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    -webkit-padding-end: 5px;
    display: -webkit-box;
}

.settings-tab .settings-list .settings-list-item.selected:not(.editable) {
    background-color: hsl(0, 0%, 82%);
}

.settings-tab .settings-list .settings-list-item:hover {
    background-color: hsl(215, 54%, 93%);
}

.settings-tab .settings-list .settings-list-item.selected:not(.editable):hover {
    background-color: hsl(215, 51%, 82%);
}

.settings-tab .settings-list .settings-list-item .remove-item-button {
    -webkit-transition: 150ms opacity;
    background-color: hsla(0, 0%, 0%, 0);
    background-image: -webkit-image-set(
        url(Images/settingsListRemove.png) 1x,
        url(Images/settingsListRemove_2x.png) 2x);
    background-size: 48px 16px;
    border: none;
    display: block;
    height: 16px;
    width: 16px;
    opacity: 0;
    pointer-events: none;
}

.settings-tab .settings-list .settings-list-item.selected .remove-item-button,
.settings-tab .settings-list .settings-list-item:hover .remove-item-button {
    opacity: 1;
    pointer-events: auto;
}

.settings-tab .settings-list .settings-list-item .remove-item-button:hover {
    background-position-x: -32px;
}

.settings-tab .settings-list .settings-list-item .remove-item-button:active {
    background-position-x: -16px;
}

#workspace-tab-content .settings-list .settings-list-item .file-system-path {
    white-space: nowrap;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 5px;
    -webkit-box-flex: 1;
    color: hsl(210, 16%, 22%);
}

#workspace-tab-content .settings-list .settings-list-item .file-system-path-name {
    padding-right: 6px;
    font-weight: bold;
}

.file-mappings-section {
    padding: 0 10px 10px 10px;
}

.file-mappings-list-container {
    background-color: white;
}

.settings-list-item-columns {
    height: 100%;
}

.settings-tab .settings-list .settings-list-item .list-column {
    displaY: -webkit-box;
    -webkit-box-align: center;
    padding-left: 5px;
    padding-right: 2px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}

.settings-tab .settings-list .settings-list-item .list-column .list-column-editor {
    width: 100%;
}

.settings-tab .settings-list .settings-list-item.add-list-item .remove-item-button {
    visibility: hidden;
}

.settings-tab .settings-list .settings-list-item .list-column.file-mapping-url {
    width: 50%;
}

.settings-tab .settings-list .settings-list-item .list-column.file-mapping-path {
    width: 50%;
}

.settings-tab .file-mappings-list .settings-list-item.editable .list-column .list-column-editor {
    display: none;
}

.settings-tab .file-mappings-list .settings-list-item.editable.item-editing .list-column .list-column-editor {
    display: inline;
}

.settings-tab .file-mappings-list .settings-list-item.editable.item-editing .list-column .list-column-text {
    display: none;
}

.settings-tab .file-mappings-list .settings-list-item.editable.item-editing .list-column .list-column-editor.editable-item-error {
    background-color: pink;
}
