/*
 * Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.responsive-design {
    overflow: hidden;
    position: relative;
}

.responsive-design-reset-button {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(54, 54, 54);
}

.responsive-design-reset-button:hover {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.responsive-design-sliders-container {
    position: absolute;
    overflow: visible;
}

.responsive-design-slider-width,
.responsive-design-slider-height {
    flex: none;
    justify-content: center;
}

.responsive-design-slider-thumb {
    border: 1px solid rgb(231, 231, 231);
    background-color: lightgray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
}

.responsive-design-slider-width .responsive-design-slider-thumb {
    padding: 44px 5px;
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.responsive-design-slider-height .responsive-design-slider-thumb {
    padding: 4px 44px;
    border-radius: 0 0 3px 3px;
    border-top: none;
}

.responsive-design-thumb-handle {
    content: url(Images/statusbarResizerHorizontal.png);
    pointer-events: none;
}

.responsive-design-slider-height .responsive-design-thumb-handle  {
    transform: rotate(90deg);
}

.responsive-design-resolution-label {
    position: absolute;
    color: white;
    background-color: hsl(41, 100%, 47%);
    padding: 3px;
    font-size: 12px;
    text-align: center;
    text-shadow: hsl(41, 100%, 39%) 1px 1px;
}

.responsive-design-resolution-width {
    top: 0;
}

.responsive-design-resolution-height {
    left: 0;
}
