/*
 * Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.responsive-design {
    overflow: hidden;
    position: relative;
}

.responsive-design-reset-button {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(54, 54, 54);
}

.responsive-design-reset-button:hover {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.responsive-design-sliders-container {
    position: absolute;
    overflow: visible;
}

.responsive-design-slider-width,
.responsive-design-slider-height {
    flex: none;
    justify-content: center;
}

.responsive-design-slider-thumb {
    border: 1px solid rgb(231, 231, 231);
    background-color: lightgray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
}

.responsive-design-slider-width .responsive-design-slider-thumb {
    padding: 44px 5px;
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.responsive-design-slider-height .responsive-design-slider-thumb {
    padding: 4px 44px;
    border-radius: 0 0 3px 3px;
    border-top: none;
}

.responsive-design-thumb-handle {
    content: url(Images/statusbarResizerHorizontal.png);
    pointer-events: none;
}

.responsive-design-slider-height .responsive-design-thumb-handle  {
    transform: rotate(90deg);
}

.responsive-design-resolution-label {
    position: absolute;
    color: white;
    background-color: hsl(41, 100%, 47%);
    padding: 3px;
    font-size: 12px;
    text-align: center;
    text-shadow: hsl(41, 100%, 39%) 1px 1px;
}

.responsive-design-resolution-width {
    top: 0;
}

.responsive-design-resolution-height {
    left: 0;
}

.responsive-design-toolbar {
    flex: 0 0 24px;
    background-color: rgb(64, 64, 64);
    color: rgb(220, 220, 220);
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(163, 163, 163);
}

.responsive-design-toolbar label {
    display: inline-flex;
    align-items: center;
}

.responsive-design-toolbar input[type='text'] {
    color: rgb(255, 156, 0);
    text-align: center;
    background-color: transparent;
    border: none;
    margin: 0 2px;
    padding: 3px;
}

.responsive-design-toolbar input[type='checkbox'] {
    background: none;
    margin: 0;
    margin-right: 3px;
}

.responsive-design-toolbar input[type='checkbox']:after {
    content:'\2714';
    color: transparent;
    line-height: 10px;
    position: absolute;
    cursor: pointer;
    background: rgb(64, 64, 64);
    border: 1px solid hsla(41, 100%, 47%, 0.6);
}

.responsive-design-toolbar input[type='checkbox']:checked:after {
    color: hsl(41, 100%, 47%);
}

.responsive-design-toolbar input.error-input {
    color: red;
    text-decoration: line-through;
}

.responsive-design-override-swap {
    margin-right: 10px;
}

.responsive-design-toolbar input:focus {
    background-color: rgb(102, 102, 102)
}

.responsive-design-toolbar button {
    color: rgb(255, 156, 0);
    background-color: rgb(64, 64, 64);
    border: none;
    cursor: pointer;
}