{:deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           org.clojure/clojurescript {:mvn/version "1.10.520"}
           cljsjs/react              {:mvn/version "16.9.0-0"}
           cljsjs/react-dom          {:mvn/version "16.9.0-0"}
           cljsjs/create-react-class {:mvn/version "15.6.3-1"}
           sablono                   {:mvn/version "0.8.6"}
           binaryage/dirac           {:mvn/version "1.4.3"}}
 :paths   ["src/main" "resources"]
 :aliases {:fig   {:extra-deps  {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                 com.bhauman/figwheel-main       {:mvn/version "0.2.3"}}
                   :extra-paths ["target" "test"]}
           :repl  {:extra-deps  {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                 com.bhauman/figwheel-main       {:mvn/version "0.2.3"}
                                 nrepl                           {:mvn/version "0.6.0"}}
                   :extra-paths ["target" "test" "src/repl"]}
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}
           :test  {:main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" dirac-figmain.test-runner]}}}
