^{:watch-dirs   ["test" "src/main"]
  :css-dirs     ["resources/public/css"]
  :auto-testing true}
{:main     dirac-figmain.core
 :preloads [dirac.runtime.preload]
 :external-config {:dirac.runtime/config {:nrepl-config {:preferred-compiler "figwheel"}}}
 }
