/.cljs_rhino_repl
/.lein-env
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl*
/checkouts*
/resources/public/.compiled
/resources/demo-node/.compiled
.idea
*.iml
.nrepl-port
.test-dirac-chrome-profile
.figwheel*
.tmp
figwheel_server.log
