html {
    font-family: courier, monospace;
    font-size: 12px;
}

html, body {
    margin:0;
    padding:0;
}

#panel {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #888888;
    background-color: #ddd;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#task-name {
    display: inline-block;
    font-weight: bold;
    color: blue;
}

#task-name:after {
    content: ':';
}

#status-box {
    margin: 10px 0;
}

.status {
    display: inline-block;
    font-weight: bold;
    font-family: courier, monospace;
    padding: 2px 10px;
}

.status-running {
    background-color: #eef;
}

.status-timeout {
    background-color: #ffe;
}

.status-finished {
    background-color: #efe;
}

.status-exception {
    background-color: #fee;
}

#transcript-box {
    margin-top: 60px;
    padding: 6px 10px;
    display: flex;
}

.transcript {
    font-size: 10px;
    width: 100%;
    min-height: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 4px 8px;
    border-radius: 2px;
}

