/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.tabbed-pane-header {
    background-color: #f3f3f3;
    flex: 0 0 27px;
    overflow: visible;
}

.tabbed-pane-header-tab {
    transition: background-color 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabbed-pane-header-tab:hover {
    background-color: rgba(105, 105, 105, 0.1) !important;
}

.tabbed-pane-header-tab,
.tabbed-pane-header-tab.selected {
    height: 26px;
    margin: 0;
    background: none;
    border: none;
    padding: 0 6px;
    transition: background-color 150ms cubic-bezier(0, 0, 0.2, 1);
}

.tabbed-pane-header-tab {
    color: #5a5a5a;
}

.tabbed-pane-header-tab.selected {
    color: #333;
}
