html {
  font-family: courier;
  font-size: 12px;
}

#task-name {
  display: inline-block;
  font-weight: bold;
  color: blue;
}

#task-name:after {
  content: ':';
}

#status-box {
  margin: 10px 0px;
}

.status {
  display: inline-block;
  font-weight: bold;
  font-family: courier;
  margin-left: 10px;
}

#transcript-box {
  display: flex;
}

.transcript {
  font-size: 10px;
  min-width: 100px;
  margin: 10px 0px;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 4px 8px;
  border-radius: 2px;
}

.transcript-running {
  background-color: #eef;
}

.transcript-timeout {
  background-color: #ffe;
}

.transcript-finished {
  background-color: #efe;
}

.transcript-exception {
  background-color: #fee;
}