<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.binaryage.dirac</string>
        <key>ProgramArguments</key>
        <array>
            <string>sh</string>
            <string>-c</string>
            <string>/Users/darwin/tasks/dirac/scripts/auto-job-launcher.sh</string>
        </array>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>17</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <key>WorkingDirectory</key>
        <string>/Users/darwin/tasks/dirac</string>
        <key>StandardErrorPath</key>
        <string>/Users/darwin/tasks/logs/dirac_err.log</string>
        <key>StandardOutPath</key>
        <string>/Users/darwin/tasks/logs/dirac_out.log</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/Users/darwin/bin/depot_tools:/Users/darwin/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin</string>
            <key>CHROMIUM_MIRROR_DIR</key>
            <string>/Users/darwin/tasks/chromium/src</string>
        </dict>
    </dict>
</plist>
