<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.binaryage.dirac.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>/Users/darwin/tasks/dirac/scripts/auto-job-launcher.sh</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>20</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/darwin/tasks/dirac</string>
	<key>StandardErrorPath</key>
	<string>/Users/darwin/tasks/logs/dirac_err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/darwin/tasks/logs/dirac_out.log</string>
  <key>EnvironmentVariables</key>
  <dict>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/Users/darwin/bin:/Users/darwin/bin/depot_tools</string>
		<key>PYTHONPATH</key>
		<string>/usr/local/lib/python2.7/site-packages</string>
	</dict>
</dict>
</plist>
