/* BASICS */

#console-prompt-dirac .CodeMirror {
  /* Set height, width, borders, and global font properties here */
  color: black;
  height: inherit;
  font-family: Menlo, monospace;
  line-height: 1em;
}

/* PADDING */

#console-prompt-dirac .CodeMirror-lines {
  padding: 0px 0; /* Vertical padding around content */
}
#console-prompt-dirac .CodeMirror pre {
  padding: 0 0px; /* Horizontal padding of content */
}

#console-prompt-dirac .CodeMirror-scrollbar-filler,
#console-prompt-dirac .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

#console-prompt-dirac .CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
#console-prompt-dirac .CodeMirror-linenumbers {}
#console-prompt-dirac .CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

#console-prompt-dirac .CodeMirror-guttermarker { color: black; }
#console-prompt-dirac .CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

#console-prompt-dirac .CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
#console-prompt-dirac .CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
#console-prompt-dirac .cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}
#console-prompt-dirac .cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

#console-prompt-dirac .cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
#console-prompt-dirac .CodeMirror-overwrite .CodeMirror-cursor {}

#console-prompt-dirac .cm-tab { display: inline-block; text-decoration: inherit; }

#console-prompt-dirac .CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT THEME */

#console-prompt-dirac .cm-s-default .cm-header {color: blue;}
#console-prompt-dirac .cm-s-default .cm-quote {color: #090;}
#console-prompt-dirac .cm-negative {color: #d44;}
#console-prompt-dirac .cm-positive {color: #292;}
#console-prompt-dirac .cm-header, .cm-strong {font-weight: bold;}
#console-prompt-dirac .cm-em {font-style: italic;}
#console-prompt-dirac .cm-link {text-decoration: underline;}
#console-prompt-dirac .cm-strikethrough {text-decoration: line-through;}

#console-prompt-dirac .cm-s-default .cm-keyword {color: #708;}
#console-prompt-dirac .cm-s-default .cm-atom {color: #219;}
#console-prompt-dirac .cm-s-default .cm-number {color: #164;}
#console-prompt-dirac .cm-s-default .cm-def {color: #00f;}
#console-prompt-dirac .cm-s-default .cm-variable,
#console-prompt-dirac .cm-s-default .cm-punctuation,
#console-prompt-dirac .cm-s-default .cm-property,
#console-prompt-dirac .cm-s-default .cm-operator {}
#console-prompt-dirac .cm-s-default .cm-variable-2 {color: #05a;}
#console-prompt-dirac .cm-s-default .cm-variable-3 {color: #085;}
#console-prompt-dirac .cm-s-default .cm-comment {color: #a50;}
#console-prompt-dirac .cm-s-default .cm-string {color: #a11;}
#console-prompt-dirac .cm-s-default .cm-string-2 {color: #f50;}
#console-prompt-dirac .cm-s-default .cm-meta {color: #555;}
#console-prompt-dirac .cm-s-default .cm-qualifier {color: #555;}
#console-prompt-dirac .cm-s-default .cm-builtin {color: #30a;}
#console-prompt-dirac .cm-s-default .cm-bracket {color: #997;}
#console-prompt-dirac .cm-s-default .cm-tag {color: #170;}
#console-prompt-dirac .cm-s-default .cm-attribute {color: #00c;}
#console-prompt-dirac .cm-s-default .cm-hr {color: #999;}
#console-prompt-dirac .cm-s-default .cm-link {color: #00c;}

#console-prompt-dirac .cm-s-default .cm-error {color: #f00;}
#console-prompt-dirac .cm-invalidchar {color: #f00;}

#console-prompt-dirac .CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

/* Parinfer edit: don't change the colors, we just want to style the background
div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
*/
#console-prompt-dirac .CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
#console-prompt-dirac .CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

#console-prompt-dirac .CodeMirror {
  position: relative;
  overflow: hidden;
  /* background: white; */
}

#console-prompt-dirac .CodeMirror-scroll {
  overflow: auto !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
#console-prompt-dirac .CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
#console-prompt-dirac .CodeMirror-vscrollbar,
#console-prompt-dirac .CodeMirror-hscrollbar,
#console-prompt-dirac .CodeMirror-scrollbar-filler,
#console-prompt-dirac .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
#console-prompt-dirac .CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
#console-prompt-dirac .CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
#console-prompt-dirac .CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
#console-prompt-dirac .CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

#console-prompt-dirac .CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  z-index: 3;
}
#console-prompt-dirac .CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  margin-bottom: -30px;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
#console-prompt-dirac .CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
#console-prompt-dirac .CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
#console-prompt-dirac .CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
#console-prompt-dirac .CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#console-prompt-dirac .CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
#console-prompt-dirac .CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
}
#console-prompt-dirac .CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

#console-prompt-dirac .CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

#console-prompt-dirac .CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

#console-prompt-dirac .CodeMirror-widget {}

#console-prompt-dirac .CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
#console-prompt-dirac .CodeMirror-scroll,
#console-prompt-dirac .CodeMirror-sizer,
#console-prompt-dirac .CodeMirror-gutter,
#console-prompt-dirac .CodeMirror-gutters,
#console-prompt-dirac .CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#console-prompt-dirac .CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

#console-prompt-dirac .CodeMirror-cursor { position: absolute; }
#console-prompt-dirac .CodeMirror-measure pre { position: static; }

#console-prompt-dirac div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
#console-prompt-dirac div.CodeMirror-dragcursors {
  visibility: visible;
}

#console-prompt-dirac .CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

#console-prompt-dirac .CodeMirror-selected { background: #d9d9d9; }
#console-prompt-dirac .CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
#console-prompt-dirac .CodeMirror-crosshair { cursor: crosshair; }
#console-prompt-dirac .CodeMirror-line::selection,
#console-prompt-dirac .CodeMirror-line > span::selection,
#console-prompt-dirac .CodeMirror-line > span > span::selection { background: #d7d4f0; }
#console-prompt-dirac .CodeMirror-line::-moz-selection,
#console-prompt-dirac .CodeMirror-line > span::-moz-selection,
#console-prompt-dirac .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

#console-prompt-dirac .cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
#console-prompt-dirac .CodeMirror span { *vertical-align: text-bottom; }

/* Used to force a border model for a node */
#console-prompt-dirac .cm-force-border { padding-right: .1px; }

/* See issue #2901 */
#console-prompt-dirac .cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
#console-prompt-dirac span.CodeMirror-selectedtext { background: none; }
