.console-prompt-dirac-wrapper {
    background-color: rgba(100, 255, 100, 0.08);
}

.dirac-flavor {
    background-color: rgba(100, 255, 100, 0.08);
}

.dirac-flavor::before {
    background-position: -192px -96px;
    -webkit-filter: hue-rotate(280deg);
}

.console-message, .console-user-command {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.CodeMirror-placeholder {
    color: rgba(102, 200, 102, 0.6) !important;
}

.dirac-stderr > .console-message {
    background-color: rgba(255, 0, 0, 0.15) !important;
    margin-right: 24px;
}

.dirac-stdout > .console-message {
    background-color: rgba(0, 0, 0, 0.05) !important;
    margin-right: 24px;
}

.console-error-level {
    background-color: hsl(0, 100%, 97%);
}

.console-warning-level {
    background-color: hsl(50, 100%, 95%);
}

#console-prompt {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

#console-prompt-dirac {
    clear: right;
    position: relative;
    padding: 3px 22px 1px 0;
    padding-left: 4px !important;
    padding-right: 4px !important;
    margin-left: 24px;
    min-height: 18px; /* Sync with ConsoleViewMessage.js */
}

#console-prompt-dirac::before {
    background-position: -192px -96px;
    -webkit-filter: hue-rotate(280deg);
}

.inactive-prompt {
    display: none;
}

.dirac-prompt-mode-status #cm-console-prompt-dirac {
    display: none;
}

.dirac-prompt-mode-edit #console-status-dirac {
    display: none;
}

#console-prompt-dirac::before {
    position: absolute;
    display: block;
    content: "";
    left: -17px;
    top: 9px;
    width: 10px;
    height: 10px;
    margin-top: -4px;
    -webkit-user-select: none;
    background-image: url(Images/toolbarButtonGlyphs.png);
    background-size: 352px 168px;
}

#console-status-dirac .status-banner {
    float: right;
    color: #aaa;
}

#console-status-dirac .status-banner a {
    color: #aaa;
    text-decoration: underline;
}

#console-status-dirac .status-banner a:hover {
    color: #999;
}

#console-status-dirac .status-content {
    font-style: italic;
}

#console-status-dirac.dirac-prompt-status-info .status-content,
#console-status-dirac.dirac-prompt-status-info .status-content a {
    color: #00f;
}

#console-status-dirac.dirac-prompt-status-error .status-content,
#console-status-dirac.dirac-prompt-status-error .status-content a {
    color: #f00;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
    #console-prompt-dirac::before {
        background-image: url(Images/toolbarButtonGlyphs_2x.png);
    }
}

/* media */